# %i is templated out to whatever was put after the
# @ when this was called.

[Unit]
Description=OnFailure email for %i

[Service]
Type=oneshot
User=pi
ExecStart=/usr/local/bin/notify-by-email.sh ${FROM} ${TO}
