# %n templates to the current service's name. 
# In this case, %n is thermostat

[Unit]
Description=Thermostat service
After=network.target
StartLimitIntervalSec=0
OnFailure=notify-by-email@%n.service

[Service]
Type=simple
Restart=on-failure
RestartSec=20
User=pi
ExecStart=/usr/local/bin/thermostat --server_url "${URL}" --server_token "${TOKEN}" --room_id "${ROOMID}" --log_sensor_data
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thermostat

[Install]
WantedBy=multi-user.target
